.mkdir{
	padding: 70rpx 30rpx 0rpx;

.option{
	height: 725rpx;
	background-color: #FFFFFF;
	border-radius: 8rpx;
	position: relative;
	padding: 50px 30px 20rpx;
	.icon-logo{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100rpx;
		height: 100rpx;
		border-radius: 50%;
		background: #FFFFFF;
		font-size: 40rpx;
		color: #00cc79;
		position: absolute;
		left: 50%;
		top: -50rpx;
		transform: translateX(-50%);
	}
	.type{
		margin-bottom: 30rpx;
		.title{
			font-size: 32rpx;
			margin-bottom: 20rpx;
			font-weight: 500;
		}
		&:first-of-type{
			margin-bottom: 60rpx;
		}
	}
	.name{
		input{
			display: block;
			border-bottom: 1px solid;
			font-size: 28rpx;
			color: #333;
		}
	}
	.select-box{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		i{
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 73rpx;
			height: 73rpx;
			border-radius: 50%;
			box-sizing: border-box;
			box-shadow: 1px 1px 5px #cfccca;
			margin-right: 26rpx;
			margin-bottom: 30rpx;
			&:nth-of-type(6n){
				margin-right: 0;
			}
		}
		.iconfont{
			font-size: 32rpx;
			color: #272c2f;
			background-color: #e5e5e5;
		}
	}
	// .active{
	// 	border: 5rpx solid #fff;
	// }
}

.submit{
	height: 80rpx;
	background-color: #00cc79;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 28rpx;
	color: #FFFFFF;
	border: 2rpx solid #39b684;
	border-radius: 7px;
	margin-top: 100rpx;
}
.btn-act{
			opacity: .9;
		}
}