.cover{
		padding: 30rpx 30rpx;
	&_box{
		height: 88vh;
		background-color: #FFFFFF;
		border-radius: 20rpx;
		box-shadow: 1px 1px 5px #cfccca;
		position: relative;
		.iconfont{
			display: block;
			text-align: center;
			font-size: 200rpx;
			color: #00cc79;
			padding-top: 162rpx;
		}
		.title{
			font-size: 36rpx;
			text-align: center;
			color: #00cc79;
			margin-top: 48rpx;
			font-weight: 500;
		}
		.qty{
			font-size: 26rpx;
			color: #9a9a9a;
			margin-top: 40rpx;
			text-align: center;
			span{
				font-size: 36rpx;
				color: #00cc79;
				font-weight: 500;
			}
		}
		.btn{
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: absolute;
			left: 50%;
			bottom: 64rpx;
			transform: translateX(-50%);
			width: 85%;
			.look,.add{
				width: 270rpx;
				height: 64rpx;
				background-color: #343434;
				border-radius: 40rpx;
				text-align: center;
				line-height: 64rpx;
				font-size: 28rpx;
				color: #FFFFFF;
				box-shadow:1px 2px 8px #cfccca;
				transition: all .1s ease; 
			}
			.active{
				transform: translate(2rpx,2rpx);
			}
		}
	}
	/deep/.lee-popup{
		background-color: #f8f8f8;
		box-shadow: inset 3px 0px 20px #cfccca;
		box-sizing: border-box;
		padding-top:30px !important;
		.strip{
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 580rpx;
			height: 98rpx;
			background-color: #FFFFFF;
			border-bottom: 1rpx solid #e1e1e1;
			font-size: 30rpx;
			padding-left: 40rpx;
			box-sizing: border-box;
			position: relative;
			color: #8799a3;
			&:first-of-type{
				border-top-left-radius: 15rpx;
				border-top-right-radius: 15rpx;
				color: #00cc79;
			}
			&:last-of-type{
				border-bottom-left-radius: 15rpx;
				border-bottom-right-radius: 15rpx;
				border-bottom:none;
			}
			.iconfont{
				margin-right: 20rpx;
				&:first-of-type{
					font-size: 28rpx;
				}
			}
			.icon-right{
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				color: #8598a2;
			}
		}
		.active{
			background-color: #eee;
		}
		
	}
	.icon-youjiantou{
		display: block;
		width: 110rpx;
		height: 100rpx;
		text-align: center;
		line-height: 100rpx;
		font-size: 50rpx;
		color: #FFFFFF;
		position: fixed;
		right: 0;
		bottom: 0;
		z-index: 9999;
	}
}